<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de Contraseña</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <el-container>
      <el-header>
        <h1 style="text-align: center;">{{name}} quiere contactar con While shadows</h1>
      </el-header>
      <el-main>
        <el-card class="box-card">
            <p>Aqui estan los datos de contacto de la persona:</p>
          <p>{{name}}</p>
          <p>{{email}}</p>
          <p>{{phone}}</p>
          <pre>{{subject}}</pre>
        </el-card>
      </el-main>
      <el-footer>
        <img  style="width:40%" src="data:image/png;base64,{{ EMAIL_IMAGE_URL }}" alt="Logo">
      </el-footer>
    </el-container>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</body>
</html>
